*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%);
--jwafjw:#fff;
}
body{
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Grayish-Blue);
}




main .container
{

    border-radius: 0.625rem;
    background-color: white;
}

main .container .image{
    text-align: center;
}
main .container .image img{
    width: 25rem;
    border-top-right-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
   
}




@media (max-width:35.9375rem){
    main .container .image img{
        width: 22.5rem;
    }
    .container{
        width: 22.5rem;
    }
}
main .container .info{
    padding: 1.25rem;
}
main .container .info h1{
    color: var(--Very-Dark-Grayish-Blue);
    width: 21.875rem;
    font-size: 1.25rem;
 
   margin-bottom: 0.625rem;
}
main .container .info p{
    color: var(--Desaturated-Dark-Blue);
    width: 21.875rem;
    font-size: 1rem;
    margin: 0;
}
@media (max-width:35.9375rem){
    main .container .info h1{
        width: 20.3125rem;
    }
    main .container .info p{
        width: 20.3125rem;
    }
}

@media (min-width:48rem) { /*medium devices*/
    main .container{
        display: flex;
    }
    main .container .image img{
        border-radius: 0;
        border-top-left-radius: 0.625rem;
        border-bottom-left-radius: 0.625rem;
        height: 100%;
    }
    main .container .info h1{
        width: 17.5rem;
    }
    main .container .info p{
        width: 17.5rem;
    }
    
}
.nameandpic{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
    position: relative;
}

.nameandpic .michellepic{
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    
}
.left{
    display: flex;
    align-items: center;
    gap: 0.3125rem;
}
.michelleinfo h2{
    color: var(--Very-Dark-Grayish-Blue);
    margin-bottom: 0.3125rem;
    font-size: 1.125rem;
}
.michelleinfo p{
    color: var(--Desaturated-Dark-Blue);
}


.sharebutton{

    background-color: var(--Light-Grayish-Blue);

 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
   
}
.sharebutton .share{
    cursor: pointer;
}
.sharemenu{
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
    background-color: var(--Very-Dark-Grayish-Blue);
    padding: 1.25rem;
    bottom: 0rem;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    justify-content: space-around;
    

}

.sharemenu p{
    color: var(--Grayish-Blue);
    letter-spacing: 0.3125rem;
}
.sharemenu.open{
    display: flex;
}
.sharebutton .share{
    
    width: 1.5625rem;
    position: relative;
    
}
.sharemenu .shareb{
    
    width: 1.5625rem;
   
}
.sharemenu img{
    cursor: pointer;
}

@media (min-width:48rem){
    .sharemenu{
        bottom: initial;
        top: -3.125rem;
        border-radius: 0.625rem;
        left: 50%;
    }
    .sharemenu.open::before{
        content: "";
        position: absolute;
        border-width: 0.9375rem;
        border-style: solid;
        border-color: var(--Very-Dark-Grayish-Blue) transparent  transparent transparent;
        bottom: -1.6875rem;
        /* left: ; */
        transform: translatex(-100%);
     
    }

    .shareb{
        display: none;
    }
}

@media (min-width:36rem) { /*small devices*/
    .container{
        max-width: 33.75rem;
    }
    
}
@media (min-width:48rem) { /*medium devices*/
    .container{
        max-width: 45rem;
    }
    
}
@media (min-width:62rem) { /*pc devices*/
    .container{
        max-width: 60rem;
    }
    
}
@media (min-width:75rem) { /*large devices*/
    .container{
        max-width: 71.25rem;
    }
    
}